<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bloom</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="index-body" >
  <%- include('./partials/_navbar.ejs') %>
  <% if (user) { %>
    <h1>Welcome to Bloom, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <div class="text-container">
    <h1 class="main-header">Welcome to Bloom</h1>
    <p class="footer">Your Healthy Habit tracker</p>
  </div>
  <% } %>
</div>
</body>
</html>
